.order {
    display: flex;
    width: 356px;
    height: 100px;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
}

.detail {
    align-items: center;
    display: flex;
    flex-direction: column;
    transform: translateX(-30px);
}


.plan {
    font-size: 20px;
    font-family: red_hat_font;
    color: hsl(223, 47%, 23%);
}

.cost {
    margin-top: 0px;
    font-size: 20px;
    font-family: red_hat_font;
    font-weight: 400;
    line-height: 1;
    color: hsl(224, 23%, 55%);
}

.change {
    font-size: 15px;
    font-family: red_hat_font;
    font-weight: 700;
    text-decoration: underline;
    transform: translateX(50px);
    color: hsl(245, 75%, 52%);
}

.change:hover {
    text-decoration: none;
    color: hsl(244, 40%, 60%);
}

.music {
    width: 50px;
    height: 50px;
    transform: translateX(-50px) translateY(2px);
}